@import url("https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&family=Archivo+Black&family=Fjalla+One&family=Koulen&family=Lalezar&display=swap");

html {
  width: 100%;
  max-width: 1500px;
 
}

main {
  position: relative;
}

body {
  background-color: black;
}

/*Navbar icon*/
#nav-section {
  position: fixed;
  left: 0;
  width: 16%;
  height: 500px;
  z-index: 30;
  
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  width: 0;
}

nav .icon {
  position: absolute;
  width: 40px;
  margin-top: 20px;
  left: 20%;
  background-color: rgb(247, 108, 108);
  border-radius: 10px;
  
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 30px;
  width: 80%;
}

.dropdown:hover {
  width: 81%;
}

.option {
  width: 100%;
  height: 20px;
  font-size: 1.3vmin;
  font-family: "Archivo Black", sans-serif;
  text-decoration: none;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
  border: 2px solid blue;
  background-color: rgb(134, 255, 235);
}

.option:hover {
  font-size: 1.5vmin;
  width: 105%;
  height: 25px;
  background-color: rgb(180, 229, 255);
}

.option:nth-of-type(1):hover {
  background-color: rgb(36, 229, 74);
}

.option:nth-of-type(2):hover {
  background-color: orange;
}

.option:nth-of-type(3):hover {
  background-color: rgb(246, 134, 246);
}

.option:nth-of-type(4):hover {
  background-color: rgb(253, 119, 115);
}

.option:nth-of-type(5):hover {
  background-color: rgb(0, 162, 249);
}

.navbar .dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-in-out;
}

.navbar:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
/* */


body {
  background-color: black;
}

/*Header and Resume Image*/ 
header {
  font-size: 7vmin;
  text-align: center;
  color: white;
}

.header-line {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 25%;
}

#resume {
  display: flex;
  justify-content: center;
}
.resume-img1 {
  position: relative;
  width: 40%;
  margin: 50px;
  box-shadow: 23px 13px 0px -2px rgba(150, 193, 230, 1);
}

.resume-img2 {
  position: relative;
  width: 40%;
  margin: 50px;
  box-shadow: 23px 13px 0px -2px rgba(152, 230, 208, 1);
}
/* */

/*Footer Section*/
footer {
  position: relative;
  background-color: #ffbd59;
  overflow: hidden;
  height: 250px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .media-icons {
  margin: auto;
  text-align: center;
}

footer .icon {
  width: 60px;
  margin: auto 30px;
}

footer li {
  list-style: none;
  margin-right: 50px;
}

footer .nav-list {
  font-size: 30px;
  text-decoration: none;
  color: white;
  line-height: 50px;
  font-family: "Fjalla One", sans-serif;
}
/* */

/*Media Queries*/
@media screen and (max-width: 1501px) {
  .option {
    width: 100%;
    font-size: 2vmin;
  }
  
  .option:hover {
    width: 100%;
    font-size: 2.2vmin;
  }
  
  header {
    font-size: 7vmin;
  }
}

@media screen and (max-width: 1024px) {
  nav .icon {
    width: 35px;
    border-radius: 5px;
  }

  .dropdown {
    margin-top: 55px;
    margin-left: 30px;
  }

  .option {
    width: 100%;
    height: 20px;
    font-size: 1.5vw;
    padding: 7px;
  }

  .option:hover {
    font-size: 1.6vw;
    width: 105%;
    height: 25px;
    background-color: rgb(180, 229, 255);
  }

  #resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
  }

  .resume-img1 {
    width: 80%;
    margin: 30px auto;
  }

  .resume-img2 {
    width: 80%;
    margin: 40px auto 40px auto;
  }

  footer .nav-list {
    font-size: 24px;
  }
}

@media screen and (max-width: 800px) {
  footer .icon {
    width: 50px;
    margin: auto 10px;
  }

  footer li {
    margin-right: 18px;
  }

  footer .nav-list {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  nav .icon {
    width: 30px;
  }

  .dropdown {
    margin-top: 50px;
    margin-left: 25px;
  }

  .option {
    width: 110%;
    height: 15px;
    font-size: 1.5vw;
    padding: 4px;
  }

  .option:hover {
    font-size: 1.6vw;
    width: 115%;
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .option {
    width: 115%;
    height: 10px;
    font-size: 1.5vw;
    padding: 4px;
  }

  .option:hover {
    font-size: 1.6vw;
    width: 120%;
    height: 15px;
  }

  .dropdown {
    margin-top: 50px;
    margin-left: 25px;
  }

  .resume-img1 {
    width: 80%;
    margin: 20px auto;
  }

  footer {
    height: auto;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .icon {
    width: 50px;
    margin: auto 10px 20px;
  }

  footer li {
    margin-right: 35px;
  }

  footer .nav-list {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #nav-section {
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 0%;
    z-index: 30;
  }

  nav .icon {
    width: 0%;
  }

  .dropdown {
    margin-top: 0px;
    margin-left: 0px;
  }

  .dropdown {
    display: flex;
    flex-direction: row;
    margin-top: 00px;
    margin-left: 0px;
    width: 100%;
  }

  .dropdown:hover {
    width: 100%;
  }
  

   .option {
    width: 100%;
    height: 25px;
    font-size: 2.3vw;
    letter-spacing: 0px;
    padding-top: 11px;
    padding-bottom: 0px;
    border: 1px solid black;
    background-color: rgb(178, 232, 255);
  }

  .option:nth-of-type(4) {
    width: 90%;
    padding-top: 7px;
    height: 29px;
  }


  .option:hover {
    font-size: 2.3vw;
    width: 100%;
    height: 25px;
    background-color: rgb(180, 229, 255);
  }

  .navbar .dropdown {
    position: absolute;
    visibility: visible;
    opacity: 1;
  }
  
  .navbar:hover .dropdown {
    visibility: visible;
    opacity: 1;
  }

  header {
    font-size: 9vw;
    padding-top: 40px;
  }

  .header-line {
    width: 35%;
  }
}

@media screen and (max-width: 400px) {
  .option {
    font-size: 2.5vw;
  }

  footer .icon {
    width: 40px;
  }
}
/* */
