@import url("https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&family=Architects+Daughter&family=Archivo+Black&family=Fjalla+One&family=Koulen&family=Lalezar&family=Oswald:wght@300&display=swap");

html {
  max-width: 1500px;
}

/*Navbar icon*/
#nav-section {
  position: fixed;
  right: 2%;
  width: 16%;
  height: 500px;
  z-index: 30;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  width: 0;
}

nav .icon {
  position: absolute;
  width: 40px;
  margin-top: 20px;
  right: 5%;
  background-color: rgb(247, 108, 108);
  border-radius: 10px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 10px;
  width: 80%;
}

.dropdown:hover {
  width: 81%;
}

.option {
  width: 100%;
  height: 20px;
  font-size: 1.3vw;
  font-family: "Archivo Black", sans-serif;
  text-decoration: none;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
  border: 2px solid blue;
  background-color: rgb(134, 255, 235);
}

.option:hover {
  font-size: 1.5vw;
  width: 105%;
  height: 25px;
  background-color: rgb(180, 229, 255);
}

.option:nth-of-type(1):hover {
  background-color: rgb(36, 229, 74);
}

.option:nth-of-type(2):hover {
  background-color: orange;
}

.option:nth-of-type(3):hover {
  background-color: rgb(246, 134, 246);
}

.option:nth-of-type(4):hover {
  background-color: rgb(253, 119, 115);
}

.option:nth-of-type(5):hover {
  background-color: rgb(0, 162, 249);
}

.navbar .dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.navbar:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
/* */

body {
  background-color: black;
}
/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */

/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */

#opener {
  width: 100%;
  overflow: hidden;
}

#opener header {
  position: relative;
  display: block;
  bottom: 80px;
  font-size: 7vw;
  z-index: 2;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  letter-spacing: 5px;
  width: 40%;
  margin: auto;
  padding-left: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 20px rgb(0, 0, 0);
  transition: 0.5 ease-in-out;
}

.box-shadow {
  position: absolute;
  width: 95%;
  height: 840px;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  box-shadow: 0px -0px 200px 40px inset rgb(0, 0, 0);
}

#opener .ai-photo {
  position: relative;
  display: block;

  width: 95%;
  margin: auto;
}

/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */

#page-info {
  position: relative;
}

#page-info p {
  position: relative;
  width: 80%;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
  color: white;
  margin: 0px auto 100px auto;
  text-align: center;
}

/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */

/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */

.website1 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  border-radius: 20px;
}

.website1 .website-img-container {
  position: relative;
  width: 40%;
  margin-left: 50px;
  background-color: #723285;
  overflow: hidden;
}

.website1 .website-img {
  position: absolute;
  right: 0%;
  width: 180%;
  height: 500px;
  transition: 0.5s ease-in-out;
}

.website1 .website-info {
  position: relative;
  margin: 40px 50px 20px 100px;
  width: 50%;
  height: 21em;
  background-color: #00b0fc;
  z-index: 1;
}

.website1 p {
  margin: 5px 15px;
  width: 95%;
  font-size: 1.5vw;
  line-height: 22px;
  font-family: "Oswald", sans-serif;
}

.website1 .background-box {
  position: absolute;
  top: 5%;
  left: 47%;
  width: 48%;
  height: 320px;
  background-color: #b95855;
  z-index: 0;
}

.website2 {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.website2 .website-img-container {
  position: relative;
  width: 40%;
  margin-left: 50px;
  background-color: #723285;
  overflow: hidden;
}

.website2 .website-img {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 500px;
  transition: 0.5s ease-in-out;
}

.website2 .website-info {
  position: relative;
  margin: 40px 50px 20px 100px;
  width: 50%;
  height: 320px;
  background-color: #00b0fc;
  z-index: 1;
}

.website2 p {
  margin: 5px 15px;
  width: 95%;
  font-size: 1.5vw;
  line-height: 22px;
  font-family: "Oswald", sans-serif;
}

.website2 .background-box {
  position: absolute;
  top: 5%;
  left: 47%;
  width: 48%;
  height: 320px;
  background-color: #b95855;
  z-index: 0;
}

.website3 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.website3 .website-img-container {
  position: relative;
  width: 40%;
  margin-left: 50px;
  background-color: #723285;
  overflow: hidden;
}

.website3 .website-img {
  position: absolute;
  left: -15%;
  width: 130%;
  height: 500px;
  transition: 0.5s ease-in-out;
}

.website3 .website-info {
  position: relative;
  margin: 40px 50px 20px 100px;
  width: 50%;
  height: 320px;
  background-color: #00b0fc;
  z-index: 1;
}

.website3 p {
  margin: 5px 15px;
  width: 95%;
  font-size: 1.5vw;
  line-height: 22px;
  font-family: "Oswald", sans-serif;
}

.website3 .background-box {
  position: absolute;
  top: 5%;
  left: 47%;
  width: 48%;
  height: 320px;
  background-color: #b95855;
  z-index: 0;
}
/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */

/* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */ /* */
footer {
  position: relative;
  background-color: #ffbd59;
  overflow: hidden;
  height: 250px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .media-icons {
  margin: auto;
  text-align: center;
}

footer .icon {
  width: 60px;
  margin: auto 30px;
}

footer li {
  list-style: none;
  margin-right: 50px;
}

footer .nav-list {
  font-size: 30px;
  text-decoration: none;
  color: white;
  line-height: 50px;
  font-family: "Fjalla One", sans-serif;
}

@media screen and (max-width: 1200px) {
  #opener header {
    bottom: 60px;
    width: 45%;
  }

  .website1 .website-img {
    position: absolute;
    right: 0%;
    width: 180%;
    height: 400px;
  }

  .website2 .website-img {
    position: absolute;
    left: -10%;
    width: 120%;
    height: 500px;
  }

  .website3 .website-img {
    position: absolute;
    left: -24%;
    width: 150%;
    height: 500px;
  }
}

@media screen and (max-width: 1024px) {
  nav .icon {
    width: 35px;
    border-radius: 5px;
  }

  .dropdown {
    margin-top: 55px;
    margin-left: 0px;
  }

  .option {
    width: 100%;
    height: 20px;
    font-size: 1.5vw;
    padding: 7px;
  }

  .option:hover {
    font-size: 1.6vw;
    width: 105%;
    height: 25px;
    background-color: rgb(180, 229, 255);
  }

  .website1 {
    flex-direction: column;
    margin: auto;
  }

  .website1 .website-img-container {
    position: relative;
    width: 70%;
    margin: auto;
  }

  .website1 .website-img {
    position: relative;
    right: 0%;
    width: 100%;
    z-index: 1;
  }

  .website1 .website-info {
    margin: 20px auto 40px auto;
    width: 70%;
    z-index: 1;
  }

  .website1 p {
    line-height: 23px;
    font-size: 2.2vw;
  }

  .website1 .background-box {
    top: 23%;
    left: 11%;
    width: 78%;
    height: 420px;
  }

  .website2 {
    flex-direction: column;
    margin: auto;
  }

  .website2 .website-img-container {
    position: relative;
    width: 70%;
    height: 400px;
    margin: auto;
  }

  .website2 .website-img {
    position: relative;
    right: 0%;
    width: 120%;

    z-index: 1;
  }

  .website2 .website-info {
    margin: 20px auto 40px auto;
    width: 70%;
    z-index: 1;
  }

  .website2 p {
    line-height: 23px;
    font-size: 2.2vw;
  }

  .website2 .background-box {
    top: 23%;
    left: 11%;
    width: 78%;
    height: 420px;
  }

  .website3 {
    flex-direction: column;
    margin: auto;
  }

  .website3 .website-img-container {
    position: relative;
    width: 70%;
    height: 400px;
    margin: auto;
  }

  .website3 .website-img {
    position: relative;
    left: -10%;
    width: 120%;
    z-index: 1;
  }

  .website3 .website-info {
    margin: 20px auto 40px auto;
    width: 70%;
    z-index: 1;
  }

  .website3 p {
    line-height: 23px;
    font-size: 2.2vw;
  }

  .website3 .background-box {
    top: 23%;
    left: 11%;
    width: 78%;
    height: 420px;
  }

  footer .nav-list {
    font-size: 24px;
  }
}

@media screen and (max-width: 900px) {
  #opener header {
    bottom: 40px;
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  footer .icon {
    width: 50px;
    margin: auto 10px;
  }

  footer li {
    margin-right: 18px;
  }

  footer .nav-list {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  nav .icon {
    width: 30px;
  }

  .dropdown {
    margin-top: 50px;
    margin-left: -3px;
  }

  .option {
    width: 110%;
    height: 15px;
    font-size: 1.5vw;
    padding: 4px;
  }

  .option:hover {
    font-size: 1.6vw;
    width: 115%;
    height: 20px;
  }

  .website1 .website-img-container {
    width: 90%;
  }

  .website1 .website-info {
    width: 90%;
    z-index: 1;
  }

  .website1 p {
    font-size: 2.8vw;
  }

  .website1 .background-box {
    top: 23%;
    left: 2.5%;
    width: 95%;
  }

  .website2 .website-img-container {
    width: 90%;
  }

  .website2 .website-info {
    width: 90%;
    z-index: 1;
  }

  .website2 p {
    font-size: 2.8vw;
  }

  .website2 .background-box {
    top: 23%;
    left: 2.5%;
    width: 95%;
  }

  .website3 .website-img-container {
    width: 90%;
  }

  .website3 .website-info {
    width: 90%;
    z-index: 1;
  }

  .website3 p {
    font-size: 2.8vw;
  }

  .website3 .background-box {
    top: 23%;
    left: 2.5%;
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  #opener header {
    bottom: 30px;
    width: 50%;
  }

  .option {
    width: 115%;
    height: 10px;
    font-size: 1.5vw;
    padding: 4px;
  }

  .option:hover {
    font-size: 1.6vw;
    width: 120%;
    height: 15px;
  }

  footer {
    height: auto;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .icon {
    width: 50px;
    margin: auto 10px 20px;
  }

  footer li {
    margin-right: 35px;
  }

  footer .nav-list {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #nav-section {
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 0%;
    z-index: 30;
  }

  nav .icon {
    width: 0%;
  }

  .dropdown {
    margin-top: 0px;
    margin-left: 0px;
  }

  .dropdown {
    display: flex;
    flex-direction: row;
    margin-top: 00px;
    margin-left: 0px;
    width: 100%;
  }

  .dropdown:hover {
    width: 100%;
  }
  

  .option {
    width: 100%;
    height: 25px;
    font-size: 2.3vw;
    letter-spacing: 0px;
    padding-top: 11px;
    padding-bottom: 0px;
    border: 1px solid black;
    background-color: rgb(178, 232, 255);
  }
  
  .option:nth-of-type(4) {
    width: 90%;
    padding-top: 7px;
    height: 29px;
  }

  .option:hover {
    font-size: 2.3vw;
    width: 100%;
    height: 25px;
    background-color: rgb(180, 229, 255);
  }

  .navbar .dropdown {
    position: absolute;
    visibility: visible;
    opacity: 1;
  }
  
  .navbar:hover .dropdown {
    visibility: visible;
    opacity: 1;
  }

  #opener header {
    font-size: 10vw;
    bottom: 20px;
    width: 70%;
  }

  #opener .ai-photo {
    width: 205%;
    margin-left: -250px;
    overflow: hidden;
  }

  .box-shadow {
    width: 100%;
  }

  .website1 .website-img-container {
    width: 95%;
  }

  .website1 .website-img {
    right: 20%;
    width: 130%;
  }

  .website1 .website-info {
    width: 95%;
  }

  .website1 p {
    font-size: 2.95vw;
  }

  .website2 .website-img-container {
    width: 95%;
  }

  .website2 .website-img {
    left: -20%;
    width: 140%;
  }

  .website2 .website-info {
    width: 95%;
    z-index: 1;
  }

  .website2 p {
    font-size: 2.95vw;
  }

  .website3 .website-img-container {
    width: 95%;
  }

  .website3 .website-img {
    left: -20%;
    width: 140%;
    z-index: 1;
  }

  .website3 .website-info {
    width: 95%;
    z-index: 1;
  }

  .website3 p {
    font-size: 2.95vw;
  }
}

@media screen and (max-width: 400px) {
  .option {
    font-size: 2.5vw;
  }

  #opener .ai-photo {
    width: 205%;
    margin-left: -170px;
    overflow: hidden;
  }

  #opener header {
    bottom: 10px;
    width: 53%;
  }

  .website1 .website-img-container {
    width: 100%;
  }

  .website1 .website-img {
    right: 25%;
    width: 130%;
  }

  .website1 .website-info {
    width: 100%;
  }

  .website1 p {
    font-size: 3.1vw;
  }

  .website2 .website-img-container {
    width: 100%;
  }

  .website2 .website-img {
    left: -20%;
    width: 140%;
  }

  .website2 .website-info {
    width: 100%;
  }

  .website2 p {
    font-size: 3.1vw;
  }

  .website3 .website-img-container {
    width: 100%;
  }

  .website3 .website-img {
    left: -20%;
    width: 140%;
  }

  .website3 .website-info {
    width: 100%;
  }

  .website3 p {
    font-size: 3.1vw;
  }

  footer .icon {
    width: 40px;
  }
}
